@import 'https://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:400,500,700';

* {
    padding: 0;
    margin: 0
}

body {
    background-color: #fff;
    font-family: roboto, sans-serif;
    font-size: 14px;
    line-height: 23px;
    color: #555;
    font-weight: 400;
    position: relative;
    overflow-x: hidden
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: roboto slab, sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #333
}

h1 {
    font-size: 70px;
    line-height: 1;
    margin: 0 0 10px;
    letter-spacing: -.02em;
    font-weight: 700
}

h2 {
    font-size: 24px;
    color: #333;
    margin: 0 0 8px;
    font-weight: 600;
    line-height: 1;
    letter-spacing: -.04em
}

h3,
h4 {
    margin: 0 0 10px;
    font-weight: 700;
    line-height: 1.4;
    color: #333;
    letter-spacing: -.04em
}

h3 {
    font-size: 17px
}

h4 {
    font-size: 15px
}

h5,
h6 {
    font-size: 14px;
    margin: 0 0 10px
}

img {
    border: none;
    outline: none
}

ul {
    display: block;
    list-style: none;
    padding: 0;
    margin: 0
}

p {
    font-size: 14px;
    margin-bottom: 15px
}

a {
    font-family: roboto slab, sans-serif;
    letter-spacing: -.04em
}

a,
a:hover {
    text-decoration: none
}

a:focus {
    outline: 0;
    text-decoration: none
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #888 !important
}

input:-moz-placeholder,
textarea:-moz-placeholder {
    color: #888 !important
}

input::-moz-placeholder,
textarea::-moz-placeholder {
    color: #888 !important
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: #888 !important
}

button {
    border: none;
    background: 0 0
}

.padding {
    padding: 80px 0
}

.no-padding {
    padding: 0
}

.mb-10 {
    margin-bottom: 10px
}

.mb-15 {
    margin-bottom: 15px
}

.mb-20 {
    margin-bottom: 20px
}

.mb-25 {
    margin-bottom: 25px
}

.mb-30 {
    margin-bottom: 30px
}

.mb-35 {
    margin-bottom: 35px
}

.mb-40 {
    margin-bottom: 40px
}

.mb-45 {
    margin-bottom: 45px
}

.mb-50 {
    margin-bottom: 50px
}

.mt-20 {
    margin-top: 20px
}

.mt-30 {
    margin-top: 30px
}

.mt-40 {
    margin-top: 40px
}

.ml-5 {
    margin-left: 5px
}

.ml-10 {
    margin-left: 10px
}

.mr-5 {
    margin-right: 5px
}

.mr-10 {
    margin-right: 10px
}

.mt-15 {
    margin-left: 15px
}

.mt-15 {
    margin-left: 15px
}

.padding-15 {
    padding: 15px
}

.display-block {
    display: block
}

.text-black {
    color: #282828
}

.text-white {
    color: #fff
}

.align-left {
    text-align: left
}

.align-right {
    text-align: right
}

.align-center {
    text-align: center
}

.fl-right {
    float: right
}

.fl-left {
    float: left
}

.display-table {
    width: 100%;
    height: 100%;
    display: table
}

.table-cell {
    display: table-cell;
    vertical-align: middle
}

.overlay {
    width: 100%;
    position: relative;
    z-index: 1
}

.overlay:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1
}

.bg-grey {
    background-color: #f2f2f2
}

.bd-bottom {
    border-bottom: 1px solid #eaeaea
}

.bg-dark {
    background-color: #232323
}

.loaded .site-preloader-wrap {
    opacity: 0;
    visibility: hidden
}

.site-preloader-wrap {
    position: fixed;
    z-index: 999;
    height: 100%;
    width: 100%;
    background: #272c30;
    top: 0;
    left: 0
}

.site-preloader-wrap .spinner {
    background-color: #ffd83f;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -20px;
    margin-top: -20px
}

.spinner {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    -webkit-animation: sk-scaleout 1s infinite ease-in-out;
    animation: sk-scaleout 1s infinite ease-in-out
}

@-webkit-keyframes sk-scaleout {
    0% {
        -webkit-transform: scale(0)
    }

    100% {
        -webkit-transform: scale(1);
        opacity: 0
    }
}

@keyframes sk-scaleout {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0)
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0
    }
}

.btn_group {}

.btn_group a {
    margin: 5px
}

.default-btn {
    background-color: #2596be;
    color: #fff;
    line-height: 45px;
    display: inline-block;
    padding: 0 25px;
    border-radius: 3px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600
}

.default-btn:hover {
    background-color: #ffb451;
    color: #fff
}

.default-btn.btn_sm {
    line-height: 40px;
    padding: 0 15px
}

.section-heading .heading-border {
    border-top: 5px solid #2596be;
    width: 50px;
    display: inline-block;
    margin-top: 0
}

.section-heading h2 {
    margin-bottom: 0
}

a,
a:hover,
.overlay,
img,
.form-control,
.form-control:hover,
button {
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s
}

.circle,
.shape {
    position: relative;
    z-index: 1;
    overflow: hidden
}

.circle:before {
    background-color: #2596be;
    content: '';
    height: 800px;
    width: 800px;
    position: absolute;
    top: -400px;
    left: -350px;
    border-radius: 100%;
    opacity: .2;
    z-index: -1
}

.shape:after {
    background-color: #2596be;
    content: '';
    width: 50%;
    height: 680px;
    position: absolute;
    top: 330px;
    right: -150px;
    border-radius: 100%;
    -webkit-transform: skew(3deg, 30deg);
    -ms-transform: skew(3deg, 30deg);
    transform: skew(5deg, 10deg);
    opacity: .3;
    z-index: -1
}

.header-section {
    position: absolute;
    box-shadow: 5px -5px 5px 10px rgba(0, 0, 0, .1);
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100
}

.header-section.navbar-fixed-top {
    position: fixed
}

.header-section.navbar-fixed-top .top-header {
    display: none
}

.header-height {
    width: 100%
}

.top-header {
    background-color: #2596be;
    padding: 10px 0
}

.top-content-wrap ul li {
    margin-right: 20px;
    display: inline-block
}

.top-content-wrap ul li a {
    display: inline-block;
    color: #fff
}

.top-content-wrap ul li i {
    color: #fff;
    margin-right: 10px
}

.top-content-wrap .right-info {
    text-align: right
}

.top-content-wrap .right-info i {
    margin-right: -5px;
    background-color: #fff;
    color: #2596be;
    height: 25px;
    width: 25px;
    line-height: 25px;
    text-align: center;
    display: block;
    font-size: 12px;
    border-radius: 2px
}

.top-content-wrap .right-info li:last-child {
    margin-right: 0
}

.bottom-header {
    background-color: #fff;
    position: relative
}

.bottom-content-wrap {
    display: flex;
    align-items: center
}

#mainmenu {
    display: inline-block;
    margin-right: 20px
}

#mainmenu li {
    position: relative;
    padding-left: 20px;
    display: inline-block;
    text-align: left
}

#mainmenu li a {
    color: #1f293d;
    font-weight: 700;
    padding: 30px 0;
    text-transform: uppercase;
    display: inline-block;
    font-size: 12px
}

#mainmenu li a:hover {
    color: #2596be
}

#mainmenu li ul {
    background-color: #fff;
    width: 200px;
    height: auto;
    position: absolute;
    left: 0;
    top: 140%;
    visibility: hidden;
    opacity: 0;
    -ms-filter: "alpha(opacity=0)";
    -webkit-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
    z-index: 999
}

#mainmenu li:hover>ul {
    visibility: visible;
    opacity: 1;
    -ms-filter: "alpha(opacity=100)";
    top: 100%
}

#mainmenu li ul li {
    border-bottom: 1px solid #eaeaea;
    display: block;
    position: relative
}

#mainmenu li ul li:last-child {
    border: none
}

#mainmenu li ul li a {
    line-height: 45px;
    display: block;
    padding: 0 15px;
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000;
    -webkit-transition: color .3s ease 0s, padding .3s ease 0s;
    transition: color .3s ease 0s, padding .3s ease 0s
}

#mainmenu li>ul>li:hover a {
    color: #2596be
}

#mainmenu li>ul ul {
    background-color: #fff;
    left: 200px
}

#mainmenu li>ul li:hover>ul li a {
    color: #777
}

#mainmenu li ul li:hover>ul {
    top: 0;
    opacity: 1;
    visibility: visible
}

#mainmenu li>ul li:hover>ul li>a:hover {
    background-color: transparent;
    color: #000
}

#mainmenu li ul li li a:hover {
    color: #000 !important
}

.slicknav_menu {
    background: 0 0;
    padding: 4px 0;
    display: none;
    z-index: 999
}

.slicknav_nav {
    background-color: #fff
}

.js .slicknav_menu {
    width: 100%;
    position: absolute;
    right: 0;
    top: 0
}

.slicknav_btn {
    background-color: transparent;
    margin: 13px 5px 14px
}

.slicknav_nav .slicknav_row:hover,
.slicknav_nav .slicknav_row,
.slicknav_nav a,
.slicknav_nav a:hover {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0
}

.slicknav_nav .slicknav_row,
.slicknav_nav a {
    padding: 10px 15px;
    margin: 0;
    color: #777
}

.slicknav_nav a .caret {
    display: none
}

.slicknav_nav ul {
    margin: 0
}

.slicknav_nav ul li a {
    padding-left: 30px;
    font-size: 12px
}

.slicknav_nav .slicknav_row:hover,
.slicknav_nav a:hover {
    background-color: transparent;
    color: #333
}

.slider-section {}

.slider-text {
    width: 100%;
    text-align: center
}

.slider-text h1 {
    font-size: 50px;
    font-weight: 700;
    color: #fff;
    line-height: 1.2
}

.slider-text h5 {
    font-weight: 700;
    color: #ddd
}

.nivo-caption a {
    display: inline-block !important
}

.slider-text p {
    color: #ddd;
    font-size: 16px;
    margin-bottom: 15px
}

.slider-wrapper {
    position: relative
}

.nivo-caption {
    height: 100%;
    opacity: 1;
    background: 0 0;
    overflow: visible
}

.nivo-directionNav a {
    font-size: 13px;
    background-color: rgba(255, 255, 255, .1);
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    text-align: center;
    color: #fff !important;
    top: calc(50% - 20px);
    opacity: 0;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out
}

.nivo-directionNav a.nivo-prevNav {
    left: 25px
}

.nivo-directionNav a.nivo-nextNav {
    right: 25px
}

.slider-wrapper:hover .nivo-directionNav a.nivo-prevNav {
    left: 15px;
    opacity: .7
}

.slider-wrapper:hover .nivo-directionNav a.nivo-nextNav {
    right: 15px;
    opacity: .7
}

.nivo-directionNav a:hover {
    opacity: 1 !important
}

.nivo-controlNav {
    padding: 0;
    position: absolute;
    z-index: 12;
    bottom: 30px;
    width: 100%
}

.nivo-controlNav a {
    background-color: transparent;
    width: 12px;
    height: 12px;
    background-color: rgba(0, 0, 0, .5);
    border-radius: 50%;
    display: inline-block;
    font-size: 0;
    cursor: pointer;
    margin: 0 5px;
    transition: all .3s linear;
    line-height: 12px
}

.nivo-controlNav a.active {
    background-color: #2caee2
}

.promo-section {
    position: relative;
    display: block;
    margin-top: -80px;
    min-height: 360px
}

.promo-wrap {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 99
}

.promo-wrap .row {
    background-color: #fff;
    padding: 40px 30px;
    box-shadow: 0 16px 28px 0 rgba(0, 0, 0, .15)
}

.promo-wrap .row .col-md-4:last-child>.promo-content {
    border: none
}

.promo-content {
    border-right: 1px dashed #ddd
}

.promo-content img {
    margin-bottom: 15px
}

.promo-content a {
    color: #555
}

.promo-content a:hover {
    text-decoration: underline;
    color: #2596be
}

.promo-section-2 .row .col-md-4:last-child>.promo-content {
    border: none
}

.causes-section {
    position: relative;
    z-index: 1
}

.causes-content img {
    width: 100%
}

.causes-thumb {
    position: relative
}

.causes-thumb img:hover {
    opacity: .8
}

.causes-thumb .progress {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 10px;
    border-radius: 0;
    background-color: transparent;
    overflow: inherit
}

.causes-thumb .progress .progress-bar {
    background-color: #2596be;
    position: relative
}

.causes-thumb .progress .progress-bar span {
    position: absolute;
    display: block;
    background-color: #2596be;
    right: -2px;
    top: -10px;
    height: 30px;
    width: 30px;
    line-height: 30px;
    border-radius: 50%;
    font-weight: 700;
    font-size: 12px
}

.causes-thumb .progress .progress-bar span:before {
    width: 50px;
    height: 50px;
    content: "";
    position: absolute;
    left: -10px;
    top: -10px;
    border-radius: 50%;
    border: 10px solid rgba(248, 184, 100, .8)
}

.causes-details {
    background-color: transparent;
    padding: 15px;
    border: 1px dashed #ccc;
    padding-top: 25px
}

.causes-content .donate-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(248, 184, 100, .8);
    color: #fff;
    text-transform: uppercase;
    font-size: 10px;
    font-family: roboto, sans-serif;
    font-weight: 700;
    padding: 5px 10px;
    border-radius: 3px;
    display: flex;
    align-items: center
}

.causes-content .donate-btn i {
    margin-left: 5px;
    font-size: 12px
}

.causes-content .donate-btn:hover {
    background-color: #2596be;
    transition: all .2s ease-in-out
}

.donation-box p {
    display: inline-block;
    margin-right: 15px
}

.donation-box i {
    color: #2596be;
    margin-right: 10px
}

.causes-content .read-more {
    color: #999
}

.causes-content .read-more:hover {
    color: #2596be;
    text-decoration: underline
}

.about-section {
    position: relative
}

.about-wrap img {
    width: 100%;
    margin-bottom: 15px
}

.about-wrap img:hover {
    opacity: .8
}

.profile-wrap {
    background-color: #fafafa;
    text-align: center;
    padding: 30px;
    border: 2px dashed #ddd
}

.profile-wrap .profile {
    width: 120px;
    height: 120px;
    margin-bottom: 20px;
    border-radius: 50%
}

.profile-wrap span {
    display: block;
    font-size: 12px;
    font-family: roboto, sans-serif;
    color: #999;
    text-transform: uppercase
}

.about-image img {
    width: 100%;
    border-radius: 5px
}

.about-content h2 {
    font-weight: 800
}

.campaigns-section {
    background-image: url(../img/featured-bg.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;
    padding: 150px 0
}

.campaigns-wrap h4 {
    background-color: rgba(248, 184, 100, .8);
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    color: #fff;
    font-size: 10px;
    text-transform: uppercase;
    font-family: roboto, sans-serif
}

.campaigns-wrap h2 {
    color: #fff;
    font-size: 36px;
    padding: 5px;
    border-radius: 2px
}

.campaigns-wrap p {
    color: #ddd;
    margin-bottom: 30px
}

.campaigns-wrap .progress {
    width: 100%;
    height: 10px;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, .2);
    overflow: inherit;
    margin-bottom: 40px
}

.campaigns-wrap .progress .progress-bar {
    background-color: #2596be;
    position: relative;
    border-radius: 30px
}

.campaigns-wrap .progress .progress-bar span {
    position: absolute;
    display: block;
    background-color: #2596be;
    right: -2px;
    top: -10px;
    height: 30px;
    width: 30px;
    line-height: 30px;
    border-radius: 50%;
    font-weight: 700;
    font-size: 12px
}

.campaigns-wrap .progress .progress-bar span:before {
    width: 50px;
    height: 50px;
    content: "";
    position: absolute;
    left: -10px;
    top: -10px;
    border-radius: 50%;
    border: 10px solid rgba(248, 184, 100, .8)
}

.campaigns-wrap .donation-box h3 {
    display: inline-block;
    color: #fff;
    margin-right: 30px
}

.campaigns-wrap .donation-box {
    margin-bottom: 25px
}

.video-wrap {
    position: relative;
    border-radius: 5px;
    overflow: hidden
}

.video-wrap img {
    width: 100%
}

.video-wrap .play {
    background-color: rgba(0, 0, 0, .2);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .2s ease-in-out
}

.video-wrap .play a {
    color: #fff;
    display: inline-block;
    background-color: transparent;
    width: 70px;
    height: 70px;
    line-height: 70px;
    border: 2px solid #ddd;
    border-radius: 50%;
    text-align: center
}

.video-wrap .play:hover {
    background-color: transparent;
    transition: all .2s ease-in-out
}

.team-section {
    position: relative;
    z-index: 1;
    overflow: hidden
}

.team-wrap {
    padding: 0 30px
}

.team-wrap .col-md-6 {
    padding: 5px
}

.team-wrapper {
    display: flex;
    align-items: center
}

.team-details img {
    width: 100%
}

.team-details h3 {
    color: #2596be
}

.team-details .hover h3 span {
    display: block;
    font-family: roboto, sans-serif;
    text-transform: uppercase;
    font-size: 10px;
    color: #fff
}

.team-details {
    overflow: hidden;
    position: relative
}

.team-details .hover {
    background: #000;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 4));
    text-align: center;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 70px 0 15px;
    opacity: 0;
    visibility: hidden;
    transition: all .3s linear
}

.team-details:hover .hover {
    visibility: visible;
    opacity: 1
}

.team-details:hover img {
    transform: scale(1.1)
}

.check-list {
    margin: 40px 0
}

.check-list li {
    font-family: roboto slab, sans-serif;
    line-height: 35px
}

.check-list i {
    color: #2596be;
    margin-right: 10px
}

.counter-section {
    background-image: url(../img/counters-bg.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;
    padding: 150px 0
}

.counters {}

.counters .counter-content {
    display: block;
    text-align: center;
    color: #fff
}

.counters .counter-content i {
    font-size: 36px
}

.counters .counter-content h3 {
    font-size: 32px;
    margin: 10px 0;
    color: #2596be;
    font-weight: 700
}

.counters .counter-content h4 {
    font-size: 14px;
    margin: 0
}

.event-section {}

.events-item {
    padding-left: 300px;
    position: relative
}

.events-item .event-thumb {
    width: 300px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden
}

.event-details {
    background-color: #fafafa;
    padding: 30px 15px;
    border: 1px dashed #ddd
}

.event-info i {
    color: #2596be;
    margin-right: 10px
}

.event-info p {
    margin-bottom: 5px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    color: #999
}

.event-info {
    margin-bottom: 10px
}

.owl-nav {}

.owl-nav div {
    background-color: #2596be;
    color: #fff;
    border-radius: 2px;
    width: 40px;
    height: 40px;
    font-size: 16px;
    text-align: center;
    line-height: 40px;
    position: absolute;
    left: -40px;
    top: calc(50% - 25px);
    transition: all .5s ease-in-out
}

.owl-nav div:hover {
    opacity: 1;
    transition: all .5s ease-in-out
}

.owl-nav div.owl-next {
    left: auto;
    right: -40px
}

.testimonial-section {}

.testimonial-item {
    background-color: #fafafa;
    padding: 30px;
    border-radius: 5px;
    margin-bottom: 20px
}

.testi-footer img {
    width: 70px !important;
    height: 70px;
    border-radius: 50%
}

.testi-footer span {
    display: block;
    font-family: roboto, sans-serif;
    color: #999;
    text-transform: uppercase;
    font-size: 12px
}

.testi-footer h4 {
    padding-left: 10px
}

.testi-footer {
    display: flex;
    align-items: center
}

.testimonial-carousel .owl-dots {
    display: block;
    text-align: center
}

.testimonial-carousel .owl-dots .owl-dot {
    background-color: #ddd;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    margin: 0 3px;
    transition: all .5s ease-in-out
}

.testimonial-carousel .owl-dots .owl-dot.active {
    background-color: #2596be;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    transition: all .5s ease-in-out
}

.sponsor-section {
    padding: 20px 0
}

.sponsor-section .sponsor-item img {
    width: 100%;
    padding: 20px;
    opacity: .8
}

.sponsor-section .sponsor-items li img:hover {
    opacity: 1
}

.widget-section {
    background-color: #111;
    background-image: url(../img/map.png);
    background-position: right 150px center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%
}

.widget-content {}

.widget-content img {
    margin-bottom: 15px
}

.widget-content p {
    color: #999
}

.widget-content h3 {
    color: #ddd
}

.widget-content .social-icon li {
    display: inline-block;
    margin-right: 15px
}

.widget-content .social-icon li a {
    display: inline-block;
    color: #2596be
}

.widget-content .social-icon li a:hover {
    color: #fff
}

.widget-content .widget-link li a {
    color: #777;
    margin-bottom: 16px;
    display: block
}

.widget-content .widget-link li a:hover {
    color: #2596be;
    text-decoration: underline
}

.widget-content .address li {
    margin-bottom: 16px;
    display: block;
    font-family: roboto slab, sans-serif;
    color: #777
}

.widget-content .address li i {
    color: #2596be;
    margin-right: 10px
}

.hero-section {
    background-image: url(../img/hero-bg.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;
    height: 530px;
    display: flex;
    align-items: center
}

.hero-content h1 {
    font-size: 40px;
    color: #fff;
    display: inline-block
}

.hero-content h4 {
    color: #2596be
}

.hero-content p {
    color: #ddd
}

.pager-header {
    background-image: url(../img/page-header-bg.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;
    min-height: 300px;
    display: flex;
    align-items: center
}

.pager-header h2 {
    color: #fff
}

.pager-header p {
    color: #ddd
}

.breadcrumb {
    background-color: transparent;
    padding: 0
}

.breadcrumb li {}

.breadcrumb li a {
    font-weight: 700;
    color: #ddd;
    font-family: roboto, sans-serif;
    text-transform: uppercase;
    font-size: 12px
}

.breadcrumb li a:hover {
    text-decoration: underline
}

.breadcrumb .active {
    color: #2596be;
    font-weight: 700;
    font-family: roboto, sans-serif;
    text-transform: uppercase;
    font-size: 12px
}

.error-section {}

.error-content h2 {
    font-size: 40px
}

.cta-section {
    background-image: url(../img/cta-bg.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;
    min-height: 300px
}

.cta-section .cta-content h2 {
    color: #fff
}

.cta-section .cta-content p {
    color: #ddd
}

.gallery-items .col-lg-4 {
    padding: 15px
}

.gallery-filter {
    width: 100%
}

.gallery-filter li {
    margin-right: 10px;
    display: inline-block;
    font-size: 12px;
    text-transform: uppercase;
    font-family: roboto, sans-serif;
    font-weight: 800;
    background-color: #f7f7f7;
    border: 1px dashed #ddd;
    padding: 10px 20px;
    border-radius: 2px;
    cursor: pointer
}

.gallery-filter li.active {
    background-color: #2596be;
    color: #fff
}

.gallery-wrap {
    position: relative;
    overflow: hidden
}

.gallery-wrap img {
    width: 100%
}

.gallery-wrap .hover {
    background-color: rgba(0, 0, 0, .8);
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    left: 0;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(.9);
    transition: all .3s ease-in-out
}

.gallery-wrap .hover a {
    background-color: #2596be;
    color: #fff;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    display: inline-block;
    border-radius: 50%
}

.gallery-wrap:hover .hover {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
    transition: all .3s ease-in-out
}

.blog-section {}

.blog-items {
    border-right: 1px solid #ddd;
    padding-right: 20px
}

.left-sidebar .blog-items {
    border-right: none;
    border-left: 1px solid #ddd;
    padding-right: 0;
    padding-left: 10px
}

.blog-post {}

.blog-post img {
    width: 100%;
    margin-bottom: 10px
}

.blog-post img:hover {
    box-shadow: 0 16px 28px 0 rgba(0, 0, 0, .2)
}

.blog-post .blog-content h3 {
    font-weight: 700;
    font-size: 18px
}

.blog-post .blog-content a {
    color: #333
}

.blog-post .blog-content a:hover {
    opacity: .8
}

span.date {
    font-family: roboto slab, sans-serif;
    color: #999;
    font-weight: 700;
    font-size: 10px;
    display: block;
    margin-bottom: 5px
}

.blog-post .blog-content .post-meta {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    color: #333;
    letter-spacing: -.2px
}

.blog-post .blog-content .post-meta:hover {
    opacity: .8;
    text-decoration: underline
}

.list-items .blog-post {
    border: 1px solid #eee;
    margin: 0;
    margin-bottom: 15px
}

.list-items .blog-post img {
    margin-bottom: 0
}

.list-items .blog-post .col-md-6:first-child {
    padding-left: 0
}

.list-items .blog-post .blog-content {
    padding: 34px 0
}

.grid-list,
.list-classic {
    border: none
}

.list-classic img {
    position: relative
}

.list-classic .cat {
    position: absolute;
    left: 25px;
    top: 10px;
    font-family: roboto slab, sans-serif;
    font-weight: 700;
    color: #fff;
    font-size: 12px;
    background-color: rgba(244, 66, 89, .8);
    box-shadow: 0 16px 28px 0 rgba(0, 0, 0, .2);
    border-radius: 3px;
    padding: 5px 10px
}

.single-post {}

.single-post img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    margin-bottom: 20px
}

.single-post h2 {
    font-weight: 800
}

.single-post .meta-info {
    margin-bottom: 25px
}

.single-post .meta-info span {
    font-family: roboto slab, sans-serif;
    font-weight: 600;
    color: #999;
    text-transform: uppercase;
    font-size: 12px;
    margin-right: 15px
}

.single-post .meta-info a {
    font-weight: 800;
    color: #777
}

.single-post .meta-info i {
    color: #777
}

.share-wrap {
    margin-top: 25px;
    margin-bottom: 50px;
    width: 100%
}

.share-wrap h4 {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 14px
}

.share-icon {
    display: inline-block
}

.share-icon li {
    display: inline-block;
    margin-right: 10px
}

.share-icon i {
    margin-right: 5px
}

.share-icon li:nth-child(1) a {
    background-color: #3b5998
}

.share-icon li:nth-child(2) a {
    background-color: #1dcaff
}

.share-icon li:nth-child(3) a {
    background-color: #db4a39
}

.share-icon li:nth-child(4) a {
    background-color: #e4405f
}

.share-icon li:nth-child(5) a {
    background-color: #0077b5
}

.share-icon li a {
    display: inline-block;
    font-size: 13px;
    color: #fff;
    padding: 5px 10px;
    border-radius: 3px;
    font-weight: 600
}

.share-icon li a:hover {
    box-shadow: 0 16px 28px 0 rgba(0, 0, 0, .2)
}

.comments-wrapper {
    width: 100%
}

.comments-wrapper h4 {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 800
}

.comments-list {
    margin-top: 30px;
    position: relative;
    margin-bottom: 50px
}

.comments-list:before {
    content: '';
    width: 2px;
    height: 100%;
    background: #eee;
    position: absolute;
    left: 32px;
    top: 0
}

.comments-list:after {
    content: '';
    position: absolute;
    background: #eee;
    bottom: 0;
    left: 29px;
    width: 7px;
    height: 7px;
    border: 3px solid #dee1e3;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%
}

.reply-list:before,
.reply-list:after {
    display: none
}

.reply-list li:before {
    content: '';
    width: 60px;
    height: 2px;
    background: #eee;
    position: absolute;
    top: 25px;
    left: -55px
}

.comments-list li {
    margin-bottom: 15px;
    display: block;
    position: relative
}

.comments-list li:after {
    content: '';
    display: block;
    clear: both;
    height: 0;
    width: 0
}

.reply-list {
    padding-left: 88px;
    clear: both;
    margin-top: 15px
}

.comments-list .comment-avatar {
    width: 65px;
    height: 65px;
    position: relative;
    z-index: 99;
    float: left;
    border: 3px solid #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    overflow: hidden;
    margin-right: 10px
}

.comments-list .comment-avatar img {
    width: 100%;
    height: 100%
}

.reply-list .comment-avatar {
    width: 50px;
    height: 50px
}

.comment-main-level:after {
    content: '';
    width: 0;
    height: 0;
    display: block;
    clear: both
}

.comments-list .comment-box {
    width: 740px;
    float: right;
    position: relative;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .15);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .15);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .15)
}

.comments-list .comment-box:before,
.comments-list .comment-box:after {
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    display: block;
    border-width: 10px 12px 10px 0;
    border-style: solid;
    border-color: transparent #fcfcfc;
    top: 8px;
    left: -11px
}

.comments-list .comment-box:before {
    border-width: 11px 13px 11px 0;
    border-color: transparent rgba(0, 0, 0, .05);
    left: -12px
}

.reply-list .comment-box {
    width: 665px
}

.comment-box .comment-head {
    background: #fcfcfc;
    padding: 10px 12px;
    border-bottom: 1px solid #e5e5e5;
    overflow: hidden;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0
}

.comment-box .comment-head i {
    float: right;
    margin-left: 14px;
    position: relative;
    top: 2px;
    color: #a6a6a6;
    cursor: pointer;
    -webkit-transition: color .3s ease;
    -o-transition: color .3s ease;
    transition: color .3s ease
}

.comment-box .comment-head i:hover {
    color: #03658c
}

.comment-box .comment-name {
    color: #283035;
    font-size: 14px;
    font-weight: 700;
    float: left;
    margin-right: 10px
}

.comment-box .comment-name a {
    color: #283035
}

.comment-box .comment-head span {
    float: left;
    color: #999;
    font-size: 13px;
    position: relative;
    top: 1px
}

.comment-box .comment-content {
    background: #fff;
    padding: 12px;
    font-size: 15px;
    color: #595959;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px
}

.comment-box .comment-name.by-author,
.comment-box .comment-name.by-author a {
    color: #03658c
}

.comment-box .comment-name.by-author:after {
    content: 'autor';
    background: #03658c;
    color: #fff;
    font-size: 12px;
    padding: 3px 5px;
    font-weight: 700;
    margin-left: 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px
}

.comment-form h4 {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 800
}

.comment-form .form-control {
    border: 1px solid #ddd;
    border-radius: 0;
    height: 45px;
    background-color: transparent
}

.comment-form .form-control.message {
    height: 150px
}

#form-messages {
    display: none
}

#form-messages.alert-danger,
#form-messages.alert-success {
    display: block
}

.sidebar-wrap {
    padding-left: 10px
}

.left-sidebar .sidebar-wrap {
    padding-right: 10px;
    padding-left: 0
}

.sidebar-widget h4 {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 14px;
    color: #555;
    margin-bottom: 25px
}

.search-form {
    position: relative;
    margin-left: -2px
}

.search-form .form-control {
    background-color: transparent;
    box-shadow: none;
    width: 100%;
    display: block;
    border: 1px solid #ddd;
    clear: #444;
    height: auto;
    padding: 10px 20px;
    border-radius: 3px;
    padding-right: 60px
}

.search-form .search-btn {
    background-color: transparent;
    font-size: 24px;
    color: #888;
    width: 60px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    padding: 10px 0;
    opacity: .6
}

.search-form .search-btn:focus,
.search-form .search-btn:hover {
    opacity: 1
}

.search-form input::-webkit-input-placeholder {
    color: #888 !important
}

.search-form input:-moz-placeholder {
    color: #888 !important
}

.search-form input::-moz-placeholder {
    color: #888 !important
}

.search-form input:-ms-input-placeholder {
    color: #888 !important
}

.cat-list {
    margin-top: -10px
}

.cat-list li a {
    font-weight: 700;
    font-size: 12px;
    color: #444;
    letter-spacing: -.4px;
    line-height: 3;
    font-style: normal
}

.cat-list li span {
    font-family: roboto slab, sans-serif;
    font-weight: 700;
    color: #bbb;
    margin-left: 5px;
    font-size: 10px
}

.recent-posts {}

.recent-posts li {
    position: relative;
    padding-left: 90px;
    display: flex;
    align-items: center;
    min-height: 50px;
    margin-bottom: 15px
}

.recent-posts li a {
    color: #555
}

.recent-posts li a:hover {
    opacity: .8
}

.recent-posts li img {
    position: absolute;
    left: 0;
    top: 0;
    width: 80px
}

.recent-posts li img:hover {
    box-shadow: 0 16px 28px 0 rgba(0, 0, 0, .2)
}

.recent-posts li h4 {
    text-transform: inherit;
    margin-bottom: 0;
    display: block
}

.tags {
    margin: -3px 0
}

.tags li {
    display: inline-block;
    float: left;
    margin: 3px
}

.tags li a {
    display: inline-block;
    font-weight: 700;
    font-size: 10px;
    color: #777;
    background-color: #ddd;
    padding: 5px 15px;
    border-radius: 3px
}

.tags li a:hover {
    box-shadow: 0 16px 28px 0 rgba(0, 0, 0, .2)
}

.pagination_wrap {}

.pagination_wrap li {
    display: inline-block;
    margin: 0 5px
}

.pagination_wrap li a {
    border: 1px solid #ddd;
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 38px;
    text-align: center;
    color: #777;
    font-weight: 600
}

.pagination_wrap li a:hover {
    opacity: 1;
    text-decoration: none;
    box-shadow: 0 16px 28px 0 rgba(0, 0, 0, .2)
}

.pagination_wrap li a.active {
    background-color: #2596be;
    border: 1px solid #2596be;
    color: #fff
}

.contact-section {
    position: relative;
    z-index: 1
}

.contact-wrap {
    background-color: #f2f2f2;
    padding: 80px 50px;
    box-shadow: 0 16px 28px 0 rgba(0, 0, 0, .15);
    margin-top: 110px;
    border-radius: 5px
}

.contact-section h3 {
    font-weight: 800;
    text-transform: uppercase;
    font-size: 18px
}

.contact-info ul li {
    line-height: 40px;
    display: flex;
    align-items: center
}

.contact-info ul li i {
    margin-right: 10px;
    color: #999;
    font-size: 20px
}

.contact-info ul li {
    font-family: roboto slab, sans-serif;
    font-weight: 600;
    font-size: 12px
}

.contact-form .form-control {
    border: 1px solid #ddd;
    border-radius: 0;
    height: 45px;
    background-color: transparent
}

.contact-form .form-control.message {
    height: 150px
}

#form-messages {
    display: none
}

#form-messages.alert-danger,
#form-messages.alert-success {
    display: block
}

#google_map {
    width: 100%;
    height: 350px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1
}

.footer-section {
    display: block;
    background-color: #111;
    border-top: 1px solid #222;
    padding: 30px 0
}

.footer-section .copyright {
    font-size: 12px;
    color: #ddd;
    text-transform: uppercase
}

.footer-social {
    display: block;
    text-align: right
}

.footer-social li {
    display: inline-block
}

.footer-social li a {
    color: #ddd;
    font-size: 12px;
    text-transform: uppercase;
    margin-left: 20px
}

.footer-social li a:hover {
    color: #2596be
}

#scroll-to-top {
    background-color: #2596be;
    display: none;
    width: 45px;
    height: 45px;
    text-align: center;
    font-size: 14px;
    line-height: 45px;
    border-radius: 50%;
    color: #fff;
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 999
}

#scroll-to-top:hover {
    background-color: #ffb451;
    color: #fff
}