 li {
        margin-top: 10px;
    }
         body {
         color:black;
         }
         ul {
         list-style-type: disc;
         list-style-image: url(bullet.gif);
         list-style-position: inside;
         }
         .container_12 {
         padding-top:10px;
         }
         .accordion, .accordion * {
         -webkit-box-sizing:border-box; 
         -moz-box-sizing:border-box; 
         box-sizing:border-box;
         }
         ol {
         display: block;
         list-style-type: decimal;
         margin-top: 1em;
         margin-bottom: 1em;
         margin-left: 0;
         margin-right: 0;
         padding-left: 10px;
         }
         .accordion {
         overflow:hidden;
         box-shadow:0px 1px 3px rgba(0,0,0,0.25);
         border-radius:3px;
         background:#f7f7f7;
         
         }
         /*----- Section Titles -----*/
         .accordion-section-title {
         width:100%;
         padding:15px;
         display:inline-block;
         border-bottom:1px solid #1a1a1a;
         background:#333;
         transition:all linear 0.15s;
         /* Type */
         font-size:1.200em;
         text-shadow:0px 1px 0px #1a1a1a;
         color:#fff;
         }
         .accordion-section-title.active, .accordion-section-title:hover {
         background:#4c4c4c;
         /* Type */
         text-decoration:none;
         }
         .accordion-section:last-child .accordion-section-title {
         border-bottom:none;
         }
         /*----- Section Content -----*/
         .accordion-section-content {
         padding:15px;
         display:none;
         }
     